@media(min-width:768px){
    .container-1{
        display: flex;
    /*
        align-items: flex-start;
        align-items: flex-end;
    */
    }
    
    .container-2{
        display: flex;
        justify-content: space-between;
    }    
}

.container-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-1 div,.container-2 div, .container-3 div{
    border: 1px #ccc solid;
    padding:10px;
}

.box-1{
    flex:1;
    order: 2;
}

.box-2{
    flex:2;
    order: :1;
}

.box-3{
    flex: 1;
    order: 3;
}

.container-2-box{
    flex-basis: 24%;
}

.container-3-box{
    flex-basis: 12%;
}